.placeholder {
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.62%;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-2);
}
.admin,
.mayraZ,
.placeholder {
  position: absolute;
}
.mayraZ {
  top: 0;
  left: 0;
  font-weight: 600;
}
.admin {
  top: 54.35%;
  left: 28.13%;
  color: var(--color-gray-3);
}
.name {
  height: 76.67%;
  width: 16.41%;
  top: 11.67%;
  right: 21.54%;
  bottom: 11.67%;
  left: 62.05%;
}
.bg,
.iconKey,
.name {
  position: absolute;
}
.bg {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 20px 50px rgba(191, 21, 108, 0.05);
  border-radius: var(--br-21xl);
  background-color: var(--color-white1);
}
.iconKey {
  height: 45%;
  width: 40%;
  top: 28.33%;
  right: 30%;
  bottom: 26.67%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.contrasea {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 44.36%;
  bottom: 0;
  left: 40.26%;
}
.iconCalendarCheck {
  position: absolute;
  height: 46.83%;
  width: 36.67%;
  top: 28.33%;
  right: 31.67%;
  bottom: 24.83%;
  left: 31.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.disponibilidad,
.iconInbox {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 64.87%;
  bottom: 0;
  left: 19.74%;
}
.iconInbox {
  height: 30%;
  width: 40%;
  top: 35%;
  right: 30%;
  bottom: 35%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.inbox {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 84.62%;
  bottom: 0;
  left: 0;
}
.background,
.sideMenu {
  position: absolute;
  height: 5.08%;
  width: 21.57%;
  top: 4.91%;
  right: 0;
  bottom: 90.02%;
  left: 78.43%;
}
.background {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-purple);
}
.groupChild,
.scolarpanel {
  position: absolute;
  top: 11.76%;
  left: 29.27%;
}
.groupChild {
  height: 94.12%;
  width: 100%;
  top: 5.88%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-orange);
}
.i,
.rectangleParent {
  position: absolute;
  top: 0;
}
.i {
  height: 86.27%;
  width: 27.08%;
  left: 37.5%;
  display: inline-block;
}
.rectangleParent {
  height: 100%;
  width: 19.51%;
  right: 80.49%;
  bottom: 0;
  left: 0;
  font-size: var(--heading-heading-1-size);
}
.footer {
  position: absolute;
  height: 4.31%;
  width: 68.33%;
  top: 91.79%;
  right: 15%;
  bottom: 3.89%;
  left: 16.67%;
}
.homeIcon {
  width: 30px;
  position: relative;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard {
  width: 299px;
  filter: var(--shadow);
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.email {
  position: relative;
  font-weight: 500;
}
.students {
  width: 299px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.iconPdfFile {
  width: 21px;
  position: relative;
  height: 28px;
}
.food,
.list {
  display: flex;
  justify-content: flex-start;
}
.food {
  width: 316px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  background-color: var(--color-background);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  color: var(--color-purple);
}
.list {
  position: absolute;
  height: 76.31%;
  width: 87.78%;
  top: 10.07%;
  right: 0;
  bottom: 13.62%;
  left: 12.22%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--text-text-regular-1-size);
  color: var(--color-gray-2);
}
.e,
.escuelaBenitoJuarez {
  position: absolute;
  height: 64.71%;
  width: 78.01%;
  top: 25.49%;
  left: 21.99%;
  display: inline-block;
}
.e {
  height: 86.27%;
  width: 41.67%;
  top: 0;
  left: 29.17%;
}
.logo,
.rectangleGroup {
  position: absolute;
  height: 100%;
  width: 16.49%;
  top: 0;
  right: 83.51%;
  bottom: 0;
  left: 0;
  font-size: var(--heading-heading-1-size);
}
.logo {
  height: 4.31%;
  width: 80.83%;
  top: 3.98%;
  right: 10.83%;
  bottom: 91.71%;
  left: 8.33%;
  font-size: var(--font-size-xl);
}
.component1,
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
}
.sidebar {
  height: 100%;
  width: 19.91%;
  right: 80.09%;
  bottom: 0;
  font-size: var(--font-size-9xl);
  color: var(--color-white1);
}
.component1 {
  width: 1808px;
  height: 1182px;
}
.div,
.mat1 {
  position: absolute;
  top: 17px;
  left: 13px;
  display: inline-block;
  width: 4px;
}
.mat1 {
  left: 71px;
  width: 41px;
}
.div1,
.emilianoRivas {
  position: absolute;
  top: 17px;
  left: 170px;
}
.div1 {
  top: 16px;
  left: 402px;
}
.div2,
.div3,
.div4,
.div5,
.div6 {
  position: absolute;
  top: 16px;
  left: 518px;
}
.div3,
.div4,
.div5,
.div6 {
  left: 637px;
}
.div4,
.div5,
.div6 {
  left: 785px;
}
.div5,
.div6 {
  left: 943px;
}
.div6 {
  left: 1094px;
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  height: 39.62%;
  width: 1.48%;
  top: 35.85%;
  right: 4.44%;
  bottom: 24.53%;
  left: 94.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1 {
  height: 37.74%;
  width: 1.19%;
  top: 37.74%;
  right: 2.15%;
  left: 96.67%;
}
.container,
.frameDiv,
.group,
.parent,
.parent1,
.parent2,
.parent3 {
  position: absolute;
  top: 8px;
  left: 11px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white1);
  width: 1350px;
  height: 53px;
}
.container,
.frameDiv,
.group,
.parent1,
.parent2,
.parent3 {
  top: 92px;
}
.container,
.frameDiv,
.parent1,
.parent2,
.parent3 {
  top: 176px;
}
.frameDiv,
.parent1,
.parent2,
.parent3 {
  top: 260px;
}
.parent1,
.parent2,
.parent3 {
  top: 344px;
}
.parent2,
.parent3 {
  top: 428px;
}
.parent3 {
  top: 512px;
}
.botonChild {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-dodgerblue);
  width: 150px;
  height: 50px;
}
.boton,
.botonChild,
.guardar {
  position: absolute;
}
.guardar {
  top: 11px;
  left: 28px;
  font-weight: 600;
  display: inline-block;
  width: 101px;
  height: 28px;
}
.boton {
  top: 625px;
  left: 1184px;
  width: 150px;
  height: 50px;
  font-size: var(--font-size-xl);
  color: var(--color-white1);
}
.frameParent {
  position: absolute;
  top: 40px;
  left: 0;
  width: 1361px;
  height: 699px;
  overflow-y: auto;
}
.div49,
.extra1,
.extra2,
.extra3,
.id,
.nombre {
  position: absolute;
  top: -3px;
  left: 0;
  font-weight: 600;
}
.extra1,
.extra2,
.extra3,
.id,
.nombre {
  left: 69px;
}
.extra1,
.extra2,
.extra3,
.nombre {
  left: 162px;
}
.extra1,
.extra2,
.extra3 {
  left: 376px;
}
.extra2,
.extra3 {
  left: 491px;
}
.extra3 {
  left: 610px;
}
.acciones,
.calificacin,
.disciplina,
.faltas {
  position: absolute;
  top: 0;
  left: 730px;
  font-weight: 600;
}
.acciones,
.disciplina,
.faltas {
  top: 2px;
  left: 923px;
  font-family: var(--font-inter);
}
.acciones,
.disciplina {
  left: 1056px;
}
.acciones {
  left: 1253px;
}
.menuTable {
  position: absolute;
  top: 0;
  left: 19px;
  width: 1342px;
  height: 24px;
  font-size: var(--text-text-regular-1-size);
}
.table {
  top: 400px;
  left: 423px;
  width: 1361px;
  height: 739px;
  color: var(--color-gray-300);
}
.bg3,
.mostrar,
.table {
  position: absolute;
}
.bg3 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white1);
  width: 1373px;
  height: 206px;
}
.mostrar {
  top: 10px;
  left: 33px;
  font-weight: 600;
  display: inline-block;
  width: 92px;
  height: 31px;
}
.boton1 {
  position: absolute;
  top: 25px;
  left: 1092px;
  width: 150px;
  height: 50px;
  font-size: var(--font-size-xl);
  color: var(--color-white1);
}
.inputChild,
.periodo1 {
  position: absolute;
  top: 0;
  left: 0;
}
.inputChild {
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray-2);
  box-sizing: border-box;
  width: 96px;
  height: 37px;
}
.div50 {
  position: absolute;
  top: 6px;
  left: 11px;
}
.materialSymbolskeyboardArroIcon {
  position: absolute;
  height: 64.86%;
  width: 25%;
  top: 16.22%;
  right: 8.33%;
  bottom: 18.92%;
  left: 66.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.input,
.periodo {
  position: absolute;
  width: 96px;
}
.input {
  top: 36px;
  left: 0;
  height: 37px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.periodo {
  top: 2px;
  left: 835px;
  height: 73px;
  font-size: var(--font-size-mini);
}
.inputItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray-2);
  box-sizing: border-box;
  width: 149px;
  height: 37px;
}
.seleccione {
  position: absolute;
  top: 6px;
  left: 9px;
}
.materialSymbolskeyboardArroIcon1 {
  position: absolute;
  height: 64.86%;
  width: 16.11%;
  top: 16.22%;
  right: 6.04%;
  bottom: 18.92%;
  left: 77.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.grupo,
.input1,
.materia {
  position: absolute;
  width: 149px;
}
.input1 {
  top: 38px;
  left: 0;
  height: 37px;
  font-size: var(--font-size-base);
}
.grupo,
.materia {
  top: 0;
  left: 601px;
  height: 75px;
}
.grupo {
  top: 2px;
  left: 420px;
  width: 96px;
  height: 73px;
  font-size: var(--font-size-mini);
}
.inputChild1,
.nivel {
  position: absolute;
  top: 0;
  left: 186px;
  width: 149px;
  height: 75px;
}
.inputChild1 {
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray-2);
  box-sizing: border-box;
  width: 101px;
  height: 37px;
}
.div52 {
  position: absolute;
  top: 5px;
  left: 11px;
}
.materialSymbolskeyboardArroIcon4 {
  position: absolute;
  height: 64.86%;
  width: 23.76%;
  top: 16.22%;
  right: 4.95%;
  bottom: 18.92%;
  left: 71.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.input4 {
  position: absolute;
  top: 38px;
  left: 0;
  width: 101px;
  height: 37px;
  font-size: var(--font-size-base);
}
.ciclo,
.datosConsulta,
.titleChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 101px;
  height: 75px;
}
.datosConsulta,
.titleChild {
  top: 96px;
  left: 57px;
  width: 1242px;
}
.titleChild {
  top: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-purple);
  width: 1373px;
  height: 60px;
}
.calificacionesMaterias {
  position: absolute;
  top: 15px;
  left: 57px;
  display: inline-block;
  width: 697px;
}
.education,
.title {
  position: absolute;
  width: 1373px;
}
.title {
  top: 3px;
  left: 0;
  height: 60px;
  font-size: var(--heading-heading-3-size);
  color: var(--color-white1);
}
.education {
  top: 148px;
  left: 411px;
  height: 206px;
  font-size: var(--font-size-mid);
}
.calificacionesNuevo {
  width: 100%;
  position: relative;
  background-color: var(--color-background);
  height: 1182px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-text-regular-2-size);
  color: var(--color-text);
  font-family: var(--text-text-regular-1);
}
