.placeholder {
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.62%;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-2);
}
.admin,
.mayraZ,
.placeholder {
  position: absolute;
}
.mayraZ {
  top: 0;
  left: 0;
  font-weight: 600;
}
.admin {
  top: 54.35%;
  left: 28.13%;
  color: var(--color-gray-3);
}
.name {
  height: 76.67%;
  width: 16.41%;
  top: 11.67%;
  right: 21.54%;
  bottom: 11.67%;
  left: 62.05%;
}
.bg,
.iconKey,
.name {
  position: absolute;
}
.bg {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 20px 50px rgba(191, 21, 108, 0.05);
  border-radius: var(--br-21xl);
  background-color: var(--color-white1);
}
.iconKey {
  height: 45%;
  width: 40%;
  top: 28.33%;
  right: 30%;
  bottom: 26.67%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.contrasea {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 44.36%;
  bottom: 0;
  left: 40.26%;
}
.iconCalendarCheck {
  position: absolute;
  height: 46.83%;
  width: 36.67%;
  top: 28.33%;
  right: 31.67%;
  bottom: 24.83%;
  left: 31.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.disponibilidad,
.iconInbox {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 64.87%;
  bottom: 0;
  left: 19.74%;
}
.iconInbox {
  height: 30%;
  width: 40%;
  top: 35%;
  right: 30%;
  bottom: 35%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.inbox {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 84.62%;
  bottom: 0;
  left: 0;
}
.background,
.sideMenu {
  position: absolute;
  height: 5.08%;
  width: 21.57%;
  top: 4.91%;
  right: 0;
  bottom: 90.02%;
  left: 78.43%;
}
.background {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-purple);
}
.groupChild,
.scolarpanel {
  position: absolute;
  top: 11.76%;
  left: 29.27%;
}
.groupChild {
  height: 94.12%;
  width: 100%;
  top: 5.88%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-orange1);
}
.i,
.rectangleParent {
  position: absolute;
  top: 0;
}
.i {
  height: 86.27%;
  width: 27.08%;
  left: 37.5%;
  display: inline-block;
}
.rectangleParent {
  height: 100%;
  width: 19.51%;
  right: 80.49%;
  bottom: 0;
  left: 0;
  font-size: var(--heading-heading-1-size);
}
.footer {
  position: absolute;
  height: 4.31%;
  width: 68.33%;
  top: 91.79%;
  right: 15%;
  bottom: 3.89%;
  left: 16.67%;
}
.homeIcon {
  width: 30px;
  position: relative;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard {
  width: 299px;
  filter: var(--shadow);
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.email {
  position: relative;
  font-weight: 500;
}
.students {
  width: 299px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.iconPdfFile {
  width: 21px;
  position: relative;
  height: 28px;
}
.food,
.list {
  display: flex;
  justify-content: flex-start;
}
.food {
  width: 316px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  background-color: var(--color-background);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  color: var(--color-purple);
}
.list {
  position: absolute;
  height: 76.31%;
  width: 87.78%;
  top: 10.07%;
  right: 0;
  bottom: 13.62%;
  left: 12.22%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--text-text-regular-1-size);
  color: var(--color-gray-2);
}
.e,
.escuelaBenitoJuarez {
  position: absolute;
  height: 64.71%;
  width: 78.01%;
  top: 25.49%;
  left: 21.99%;
  display: inline-block;
}
.e {
  height: 86.27%;
  width: 41.67%;
  top: 0;
  left: 29.17%;
}
.logo,
.rectangleGroup {
  position: absolute;
  height: 100%;
  width: 16.49%;
  top: 0;
  right: 83.51%;
  bottom: 0;
  left: 0;
  font-size: var(--heading-heading-1-size);
}
.logo {
  height: 4.31%;
  width: 80.83%;
  top: 3.98%;
  right: 10.83%;
  bottom: 91.71%;
  left: 8.33%;
  font-size: var(--font-size-xl);
}
.component1,
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
}
.sidebar {
  height: 100%;
  width: 19.91%;
  right: 80.09%;
  bottom: 0;
  font-size: var(--font-size-9xl);
  color: var(--color-white1);
}
.component1 {
  width: 1808px;
  height: 1182px;
  font-size: var(--text-text-regular-2-size);
}
.background1 {
  position: absolute;
  top: 156px;
  left: 428px;
  border-radius: var(--br-6xl);
  background-color: var(--color-thistle-100);
  width: 1418px;
  height: 992px;
  display: none;
}
.especialidadesTallerChild,
.groupInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white1);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 587px;
  height: 705px;
}
.groupInner {
  width: 542px;
  height: 55px;
}
.div {
  position: absolute;
  top: 16px;
  left: 16px;
}
.btbusi,
.tallerBusinessMath {
  position: absolute;
  top: 16px;
  left: 80px;
}
.tallerBusinessMath {
  left: 201px;
}
.calificar,
.vectorIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.vectorIcon {
  height: 70.59%;
  width: 21.76%;
  top: 23.53%;
  right: 0;
  bottom: 5.88%;
  left: 78.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.calificarParent {
  position: absolute;
  height: 54.84%;
  width: 56.41%;
  top: 22.58%;
  right: 43.59%;
  bottom: 22.58%;
  left: 0;
}
.viewSalaryDetails {
  position: absolute;
  top: 12px;
  left: 411px;
  width: 145px;
  height: 31px;
  font-size: var(--text-text-regular-2-size);
  color: var(--color-dodgerblue);
  font-family: var(--font-inter);
}
.groupDiv,
.rectangleContainer,
.rectangleParent1 {
  position: absolute;
  top: 505px;
  left: 11px;
  width: 556px;
  height: 55px;
}
.groupDiv,
.rectangleParent1 {
  top: 434px;
}
.rectangleParent1 {
  top: 363px;
}
.rectangleParent2,
.rectangleParent3,
.rectangleParent4 {
  position: absolute;
  top: 292px;
  left: 11px;
  width: 556px;
  height: 55px;
}
.rectangleParent3,
.rectangleParent4 {
  top: 221px;
}
.rectangleParent4 {
  top: 150px;
}
.groupParent,
.rectangleParent5,
.rectangleParent6,
.rectangleParent7 {
  position: absolute;
  top: 79px;
  left: 11px;
  width: 556px;
  height: 55px;
}
.groupParent,
.rectangleParent6,
.rectangleParent7 {
  top: 8px;
}
.groupParent,
.rectangleParent7 {
  top: 571px;
}
.groupParent {
  top: 21px;
  left: 0;
  height: 582.8px;
  overflow-y: auto;
  font-size: var(--font-size-mini);
  color: var(--color-gray-200);
  font-family: var(--text-text-regular-1);
}
.ciclo,
.descripcin,
.especialidad {
  position: absolute;
  top: 0;
  left: 25px;
  display: inline-block;
  width: 38px;
  height: 19px;
}
.descripcin,
.especialidad {
  left: 91px;
  width: 96px;
}
.descripcin {
  left: 213px;
  width: 90px;
}
.frameData {
  position: absolute;
  top: 78.1px;
  left: 9px;
  width: 556px;
  height: 603.9px;
}
.especialidadesTaller1 {
  position: absolute;
  top: 19px;
  left: 25px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  font-family: var(--text-text-regular-1);
  color: var(--color-text);
  display: inline-block;
  width: 287px;
  height: 38.1px;
}
.especialidadesTaller {
  position: absolute;
  top: 401px;
  left: 1214px;
  width: 587px;
  height: 705px;
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.groupChild8,
.materiaChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white1);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 711px;
  height: 704px;
}
.groupChild8 {
  width: 669px;
  height: 55px;
}
.ba1a,
.bmat1,
.div9,
.matemticas1 {
  position: absolute;
  top: 18px;
  left: 28px;
}
.ba1a,
.bmat1,
.matemticas1 {
  left: 137px;
}
.ba1a,
.matemticas1 {
  left: 257px;
}
.ba1a {
  left: 439px;
}
.viewSalaryDetails9 {
  position: absolute;
  top: 11px;
  left: 535px;
  width: 145px;
  height: 31px;
  font-size: var(--text-text-regular-2-size);
  color: var(--color-dodgerblue);
  font-family: var(--font-inter);
}
.rectangleParent10,
.rectangleParent8,
.rectangleParent9 {
  position: absolute;
  top: 8px;
  left: 11px;
  width: 680px;
  height: 55px;
}
.rectangleParent10,
.rectangleParent9 {
  top: 84px;
}
.rectangleParent10 {
  top: 160px;
}
.rectangleParent11,
.rectangleParent12,
.rectangleParent13 {
  position: absolute;
  top: 236px;
  left: 11px;
  width: 680px;
  height: 55px;
}
.rectangleParent12,
.rectangleParent13 {
  top: 312px;
}
.rectangleParent13 {
  top: 388px;
}
.groupContainer,
.rectangleParent14,
.rectangleParent15 {
  position: absolute;
  top: 464px;
  left: 11px;
  width: 680px;
  height: 55px;
}
.groupContainer,
.rectangleParent15 {
  top: 540px;
}
.groupContainer {
  top: 21px;
  left: 0;
  width: 702px;
  height: 582px;
  overflow-y: auto;
  color: var(--color-gray-200);
  font-family: var(--text-text-regular-1);
}
.ciclo1,
.materia1 {
  position: absolute;
  top: 0;
  left: 40px;
}
.materia1 {
  left: 148px;
}
.descripcin1,
.frameData1,
.grupo {
  position: absolute;
  top: 0;
  left: 265px;
}
.frameData1,
.grupo {
  left: 446px;
}
.frameData1 {
  top: 78px;
  left: 9px;
  width: 702px;
  height: 603px;
}
.materias {
  position: absolute;
  top: 19px;
  left: 25px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  font-family: var(--text-text-regular-1);
  color: var(--color-text);
}
.materia {
  position: absolute;
  top: 402px;
  left: 428px;
  width: 711px;
  height: 704px;
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.bg3 {
  border-radius: var(--br-xl);
  background-color: var(--color-white1);
  width: 1373px;
  height: 206px;
}
.bg3,
.inputChild,
.periodo1 {
  position: absolute;
  top: 0;
  left: 0;
}
.inputChild {
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray-2);
  box-sizing: border-box;
  width: 149px;
  height: 37px;
}
.materialSymbolskeyboardArroIcon {
  position: absolute;
  height: 64.86%;
  width: 16.11%;
  top: 24.32%;
  right: 5.37%;
  bottom: 10.81%;
  left: 78.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.input,
.periodo {
  position: absolute;
  width: 149px;
}
.input {
  top: 31px;
  left: 0;
  height: 37px;
  font-size: var(--font-size-smi);
  color: var(--color-gray-300);
}
.periodo {
  top: 0;
  left: 914px;
  height: 68px;
}
.bachillerato,
.input1 {
  position: absolute;
  top: 9px;
  left: 10px;
}
.input1 {
  top: 31px;
  left: 0;
  width: 149px;
  height: 37px;
  font-size: var(--font-size-smi);
}
.calendarioChild,
.ciclo2,
.nivel {
  position: absolute;
  top: 0;
  left: 722px;
  width: 149px;
  height: 68px;
}
.calendarioChild,
.ciclo2 {
  top: 3px;
  left: 530px;
}
.calendarioChild {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray-2);
  box-sizing: border-box;
  width: 296px;
  height: 37px;
}
.div19,
.uiscalenderIcon {
  position: absolute;
  top: 9px;
  left: 41px;
  display: none;
}
.uiscalenderIcon {
  top: 8px;
  left: 10px;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.calendario,
.nombre {
  position: absolute;
  width: 296px;
}
.calendario {
  top: 31px;
  left: 0;
  height: 37px;
  font-size: var(--text-text-regular-2-size);
  color: var(--color-darkslategray-200);
}
.nombre {
  top: 3px;
  left: 191px;
  height: 68px;
}
.calendario1,
.idProfesor {
  position: absolute;
  left: 0;
  width: 149px;
}
.calendario1 {
  top: 31px;
  height: 37px;
  font-size: var(--text-text-regular-2-size);
  color: var(--color-darkslategray-200);
}
.idProfesor {
  top: 3px;
  height: 68px;
}
.botonChild {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-dodgerblue);
  width: 140px;
  height: 37px;
}
.boton,
.botonChild,
.mostrar {
  position: absolute;
}
.mostrar {
  top: 7px;
  left: 39px;
  font-weight: 600;
  display: inline-block;
  width: 61px;
  height: 21px;
}
.boton {
  top: 31px;
  left: 1131px;
  width: 140px;
  height: 37px;
  color: var(--color-white1);
}
.datosConsulta,
.titleChild {
  position: absolute;
  top: 94px;
  left: 25px;
  width: 1271px;
  height: 71px;
}
.titleChild {
  top: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-purple);
  width: 1373px;
  height: 60px;
}
.calificacionesMateriasProfes {
  position: absolute;
  top: 12px;
  left: 40px;
  display: inline-block;
  width: 697px;
}
.education,
.title {
  position: absolute;
  width: 1373px;
}
.title {
  top: 0;
  left: 0;
  height: 60px;
  font-size: var(--heading-heading-3-size);
  color: var(--color-white1);
}
.education {
  top: 154px;
  left: 428px;
  height: 206px;
  font-size: var(--font-size-mini);
}
.calificaciones {
  width: 100%;
  position: relative;
  background-color: var(--color-background);
  height: 1182px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-text);
  font-family: var(--text-text-regular-1);
}
