.placeholder {
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.62%;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-2);
}
.admin,
.mayraZ,
.placeholder {
  position: absolute;
}
.mayraZ {
  top: 0;
  left: 0;
  font-weight: 600;
}
.admin {
  top: 54.35%;
  left: 28.13%;
  color: var(--color-gray-3);
}
.name {
  height: 76.67%;
  width: 16.41%;
  top: 11.67%;
  right: 21.54%;
  bottom: 11.67%;
  left: 62.05%;
}
.bg,
.iconKey,
.name {
  position: absolute;
}
.bg {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 20px 50px rgba(191, 21, 108, 0.05);
  border-radius: var(--br-21xl);
  background-color: var(--color-white1);
}
.iconKey {
  height: 45%;
  width: 40%;
  top: 28.33%;
  right: 30%;
  bottom: 26.67%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.contrasea {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 44.36%;
  bottom: 0;
  left: 40.26%;
}
.iconCalendarCheck {
  position: absolute;
  height: 46.83%;
  width: 36.67%;
  top: 28.33%;
  right: 31.67%;
  bottom: 24.83%;
  left: 31.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.disponibilidad,
.iconInbox {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 64.87%;
  bottom: 0;
  left: 19.74%;
}
.iconInbox {
  height: 30%;
  width: 40%;
  top: 35%;
  right: 30%;
  bottom: 35%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.inbox {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 84.62%;
  bottom: 0;
  left: 0;
}
.background,
.sideMenu {
  position: absolute;
  height: 5.08%;
  width: 21.57%;
  top: 4.91%;
  right: 0;
  bottom: 90.02%;
  left: 78.43%;
}
.background {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-purple);
}
.groupChild,
.scolarpanel {
  position: absolute;
  top: 11.76%;
  left: 29.27%;
}
.groupChild {
  height: 94.12%;
  width: 100%;
  top: 5.88%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-orange1);
}
.i,
.rectangleParent {
  position: absolute;
  top: 0;
}
.i {
  height: 86.27%;
  width: 27.08%;
  left: 37.5%;
  display: inline-block;
}
.rectangleParent {
  height: 100%;
  width: 19.51%;
  right: 80.49%;
  bottom: 0;
  left: 0;
  font-size: var(--heading-heading-1-size);
}
.footer {
  position: absolute;
  height: 4.31%;
  width: 68.33%;
  top: 91.79%;
  right: 15%;
  bottom: 3.89%;
  left: 16.67%;
}
.homeIcon {
  width: 30px;
  position: relative;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard {
  width: 299px;
  filter: var(--shadow);
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.email {
  position: relative;
  font-weight: 500;
}
.students {
  width: 299px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.iconPdfFile {
  width: 21px;
  position: relative;
  height: 28px;
}
.food,
.list {
  display: flex;
  justify-content: flex-start;
}
.food {
  width: 316px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  background-color: var(--color-background);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  color: var(--color-purple);
}
.list {
  position: absolute;
  height: 76.31%;
  width: 87.78%;
  top: 10.07%;
  right: 0;
  bottom: 13.62%;
  left: 12.22%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--text-text-regular-1-size);
  color: var(--color-gray-2);
}
.e,
.escuelaBenitoJuarez {
  position: absolute;
  height: 64.71%;
  width: 78.01%;
  top: 25.49%;
  left: 21.99%;
  display: inline-block;
}
.e {
  height: 86.27%;
  width: 41.67%;
  top: 0;
  left: 29.17%;
}
.logo,
.rectangleGroup,
.sidebar {
  position: absolute;
  height: 100%;
  width: 16.49%;
  top: 0;
  right: 83.51%;
  bottom: 0;
  left: 0;
  font-size: var(--heading-heading-1-size);
}
.logo,
.sidebar {
  height: 4.31%;
  width: 80.83%;
  top: 3.98%;
  right: 10.83%;
  bottom: 91.71%;
  left: 8.33%;
  font-size: var(--font-size-xl);
}
.sidebar {
  height: 100%;
  width: 19.91%;
  top: 0;
  right: 80.09%;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-9xl);
  color: var(--color-white1);
}
.botonGuardarChild,
.component1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1808px;
  height: 1182px;
}
.botonGuardarChild {
  border-radius: var(--br-3xs);
  background-color: #f49a1c;
  width: 150px;
  height: 50px;
}
.guardar {
  position: absolute;
  top: 11px;
  left: 28px;
  font-weight: 600;
  display: inline-block;
  width: 101px;
  height: 28px;
}
.botonGuardar {
  position: absolute;
  top: 671px;
  left: 1149px;
  width: 150px;
  height: 50px;
  font-size: var(--font-size-xl);
  color: var(--color-white1);
}
.menuTableChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1370px;
  height: 53px;
}
.div,
.extra1,
.extra2,
.extra3,
.id,
.nombre {
  position: absolute;
  top: 14px;
  left: 26px;
  font-weight: 300;
}
.extra1,
.extra2,
.extra3,
.id,
.nombre {
  left: 83px;
}
.extra1,
.extra2,
.extra3,
.nombre {
  left: 181px;
}
.extra1,
.extra2,
.extra3 {
  left: 387px;
}
.extra2,
.extra3 {
  top: 15px;
  left: 511px;
}
.extra3 {
  left: 630px;
}
.acciones,
.calificacin,
.disciplina,
.faltas {
  position: absolute;
  top: 15px;
  left: 752px;
  font-weight: 300;
}
.acciones,
.disciplina,
.faltas {
  left: 934px;
}
.acciones,
.disciplina {
  left: 1063px;
}
.acciones {
  left: 1261px;
}
.menuTable {
  position: absolute;
  top: 420px;
  left: 411px;
  width: 1370px;
  height: 721px;
  font-size: var(--font-size-mini);
}
.div1,
.mat1 {
  position: absolute;
  top: 17px;
  left: 26px;
  display: inline-block;
  width: 4px;
}
.mat1 {
  left: 82px;
  width: 41px;
}
.div2,
.emilianoRivas {
  position: absolute;
  top: 17px;
  left: 180px;
}
.div2 {
  top: 16px;
  left: 396px;
}
.div3,
.div4,
.div5,
.div6,
.div7 {
  position: absolute;
  top: 16px;
  left: 523px;
}
.div4,
.div5,
.div6,
.div7 {
  left: 641px;
}
.div5,
.div6,
.div7 {
  left: 777px;
}
.div6,
.div7 {
  left: 943px;
}
.div7 {
  left: 1078px;
}
.vectorIcon,
.vectorIcon1 {
  bottom: 30.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon {
  position: absolute;
  height: 39.62%;
  width: 1.48%;
  top: 30.19%;
  right: 6.33%;
  left: 92.19%;
}
.vectorIcon1 {
  height: 37.74%;
  width: 1.18%;
  top: 32.08%;
  right: 3.71%;
  left: 95.11%;
}
.div8,
.parent,
.vectorIcon1 {
  position: absolute;
}
.parent {
  top: 8px;
  left: 11px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1370px;
  height: 53px;
}
.div8 {
  top: 17px;
  left: 25px;
  display: inline-block;
  width: 11px;
}
.div10,
.div9,
.emilianoRivas1 {
  position: absolute;
  top: 17px;
  left: 181px;
}
.div10,
.div9 {
  left: 398px;
}
.div10 {
  left: 522px;
}
.div11,
.div12,
.div13,
.div14 {
  position: absolute;
  top: 17px;
  left: 642px;
}
.div12,
.div13,
.div14 {
  left: 783px;
}
.div13,
.div14 {
  left: 945px;
}
.div14 {
  left: 1080px;
}
.vectorIcon2,
.vectorIcon3 {
  position: absolute;
  height: 39.62%;
  width: 1.48%;
  top: 32.08%;
  right: 6.26%;
  bottom: 28.3%;
  left: 92.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon3 {
  height: 37.74%;
  width: 1.18%;
  top: 33.96%;
  right: 3.56%;
  left: 95.26%;
}
.group {
  position: absolute;
  top: 61px;
  left: 11px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1370px;
  height: 53px;
}
.div15,
.mat12 {
  position: absolute;
  top: 17px;
  left: 25px;
  display: inline-block;
  width: 4px;
}
.mat12 {
  left: 84px;
  width: 41px;
}
.div16,
.div18,
.div20,
.emilianoRivas2 {
  position: absolute;
  top: 17px;
  left: 182px;
}
.div16,
.div18,
.div20 {
  left: 399px;
}
.div18,
.div20 {
  left: 643px;
}
.div20 {
  left: 946px;
}
.vectorIcon4,
.vectorIcon5 {
  position: absolute;
  height: 39.62%;
  width: 1.48%;
  top: 35.85%;
  right: 6.18%;
  bottom: 24.53%;
  left: 92.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon5 {
  height: 37.74%;
  width: 1.18%;
  right: 3.49%;
  bottom: 26.42%;
  left: 95.33%;
}
.container {
  position: absolute;
  top: 114px;
  left: 11px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1370px;
  height: 53px;
}
.div22,
.mat13 {
  position: absolute;
  top: 17px;
  left: 26px;
  display: inline-block;
  width: 12px;
}
.mat13 {
  left: 83px;
  width: 41px;
}
.div24,
.emilianoRivas3 {
  position: absolute;
  top: 17px;
  left: 183px;
}
.div24 {
  left: 524px;
}
.div25,
.div26,
.div27,
.div28 {
  position: absolute;
  top: 17px;
  left: 641px;
}
.div26,
.div27,
.div28 {
  left: 782px;
}
.div27,
.div28 {
  left: 948px;
}
.div28 {
  left: 1082px;
}
.vectorIcon6,
.vectorIcon7 {
  position: absolute;
  height: 39.62%;
  width: 1.48%;
  top: 30.19%;
  right: 6.11%;
  bottom: 30.19%;
  left: 92.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon7 {
  height: 37.74%;
  width: 1.18%;
  top: 32.08%;
  right: 3.49%;
  left: 95.33%;
}
.frameDiv {
  position: absolute;
  top: 167px;
  left: 11px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1370px;
  height: 53px;
}
.div29 {
  position: absolute;
  top: 17px;
  left: 26px;
  display: inline-block;
  width: 14px;
}
.div30,
.div31 {
  position: absolute;
  top: 16px;
  left: 401px;
}
.div31 {
  left: 522px;
}
.div32,
.div33,
.div34,
.div35 {
  position: absolute;
  top: 16px;
  left: 643px;
}
.div33,
.div34,
.div35 {
  left: 785px;
}
.div34,
.div35 {
  left: 949px;
}
.div35 {
  left: 1086px;
}
.vectorIcon8,
.vectorIcon9 {
  position: absolute;
  height: 39.62%;
  width: 1.48%;
  top: 30.19%;
  right: 6.04%;
  bottom: 30.19%;
  left: 92.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon9 {
  height: 37.74%;
  width: 1.18%;
  top: 32.08%;
  right: 3.34%;
  left: 95.47%;
}
.parent1 {
  position: absolute;
  top: 220px;
  left: 11px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1370px;
  height: 53px;
}
.div36,
.mat15 {
  position: absolute;
  top: 16px;
  left: 27px;
  display: inline-block;
  width: 10px;
}
.mat15 {
  left: 84px;
  width: 41px;
}
.div39,
.div40,
.div41,
.emilianoRivas5 {
  position: absolute;
  top: 16px;
  left: 184px;
}
.div39,
.div40,
.div41 {
  left: 644px;
}
.div40,
.div41 {
  left: 786px;
}
.div41 {
  left: 951px;
}
.vectorIcon10,
.vectorIcon11 {
  position: absolute;
  height: 39.62%;
  width: 1.48%;
  top: 30.19%;
  right: 5.89%;
  bottom: 30.19%;
  left: 92.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon11 {
  height: 37.74%;
  width: 1.18%;
  top: 32.08%;
  right: 3.2%;
  left: 95.62%;
}
.parent2 {
  position: absolute;
  top: 273px;
  left: 11px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1370px;
  height: 53px;
}
.div43 {
  left: 30px;
  display: inline-block;
  width: 10px;
}
.div43,
.emilianoRivas6,
.mat16 {
  position: absolute;
  top: 17px;
}
.mat16 {
  left: 86px;
  display: inline-block;
  width: 41px;
}
.emilianoRivas6 {
  left: 185px;
}
.div45,
.div47,
.div48 {
  position: absolute;
  top: 16px;
  left: 524px;
}
.div47,
.div48 {
  left: 787px;
}
.div48 {
  left: 952px;
}
.vectorIcon12,
.vectorIcon13 {
  position: absolute;
  height: 39.62%;
  width: 1.48%;
  top: 30.19%;
  right: 5.74%;
  bottom: 30.19%;
  left: 92.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon13 {
  height: 37.74%;
  width: 1.18%;
  top: 32.08%;
  right: 3.12%;
  left: 95.69%;
}
.parent3,
.parent4 {
  left: 11px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1370px;
  height: 53px;
}
.parent3 {
  position: absolute;
  top: 326px;
}
.parent4 {
  top: 379px;
}
.div64,
.parent4,
.parent5 {
  position: absolute;
}
.parent5 {
  top: 432px;
  left: 11px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1370px;
  height: 53px;
}
.div64 {
  top: 17px;
  left: 30px;
  display: inline-block;
  width: 26px;
}
.parent6,
.parent7 {
  left: 11px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1370px;
  height: 53px;
}
.parent6 {
  position: absolute;
  top: 485px;
}
.parent7 {
  top: 538px;
}
.div78,
.parent7,
.parent8 {
  position: absolute;
}
.div78 {
  top: 17px;
  left: 30px;
  display: inline-block;
  width: 21px;
}
.parent8 {
  top: 591px;
  left: 11px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1370px;
  height: 53px;
}
.frameParent {
  position: absolute;
  top: 465px;
  left: 400px;
  width: 1381px;
  height: 591px;
  overflow-y: auto;
  color: var(--color-gray-300);
}
.bg3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white1);
  width: 1373px;
  height: 206px;
}
.botonChild {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange-100);
  width: 150px;
  height: 50px;
}
.boton,
.botonChild,
.mostrar {
  position: absolute;
}
.mostrar {
  top: 10px;
  left: 33px;
  font-weight: 600;
  display: inline-block;
  width: 92px;
  height: 31px;
}
.boton {
  top: 25px;
  left: 1092px;
  width: 150px;
  height: 50px;
  font-size: var(--font-size-xl);
  color: var(--color-white1);
}
.inputChild,
.periodo1 {
  position: absolute;
  top: 0;
  left: 0;
}
.inputChild {
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray-2);
  box-sizing: border-box;
  width: 96px;
  height: 37px;
}
.div85 {
  position: absolute;
  top: 6px;
  left: 11px;
}
.materialSymbolskeyboardArroIcon {
  position: absolute;
  height: 64.86%;
  width: 25%;
  top: 16.22%;
  right: 8.33%;
  bottom: 18.92%;
  left: 66.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.input,
.periodo {
  position: absolute;
  width: 96px;
}
.input {
  top: 36px;
  left: 0;
  height: 37px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.periodo {
  top: 2px;
  left: 835px;
  height: 73px;
  font-size: var(--font-size-mini);
}
.inputItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray-2);
  box-sizing: border-box;
  width: 149px;
  height: 37px;
}
.seleccione {
  position: absolute;
  top: 6px;
  left: 9px;
}
.materialSymbolskeyboardArroIcon1 {
  position: absolute;
  height: 64.86%;
  width: 16.11%;
  top: 16.22%;
  right: 6.04%;
  bottom: 18.92%;
  left: 77.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.grupo,
.input1,
.materia {
  position: absolute;
  width: 149px;
}
.input1 {
  top: 38px;
  left: 0;
  height: 37px;
  font-size: var(--font-size-base);
}
.grupo,
.materia {
  top: 0;
  left: 601px;
  height: 75px;
}
.grupo {
  top: 2px;
  left: 420px;
  width: 96px;
  height: 73px;
  font-size: var(--font-size-mini);
}
.inputChild1,
.nivel {
  position: absolute;
  top: 0;
  left: 186px;
  width: 149px;
  height: 75px;
}
.inputChild1 {
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray-2);
  box-sizing: border-box;
  width: 101px;
  height: 37px;
}
.div87 {
  position: absolute;
  top: 5px;
  left: 11px;
}
.materialSymbolskeyboardArroIcon4 {
  position: absolute;
  height: 64.86%;
  width: 23.76%;
  top: 16.22%;
  right: 4.95%;
  bottom: 18.92%;
  left: 71.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.input4 {
  position: absolute;
  top: 38px;
  left: 0;
  width: 101px;
  height: 37px;
  font-size: var(--font-size-base);
}
.ciclo,
.datosConsulta,
.titleChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 101px;
  height: 75px;
}
.datosConsulta,
.titleChild {
  top: 96px;
  left: 57px;
  width: 1242px;
}
.titleChild {
  top: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-cornflowerblue);
  width: 1373px;
  height: 60px;
}
.calificacionesMaterias {
  position: absolute;
  top: 15px;
  left: 57px;
  display: inline-block;
  width: 697px;
}
.education,
.title {
  position: absolute;
  width: 1373px;
}
.title {
  top: 3px;
  left: 0;
  height: 60px;
  font-size: var(--heading-heading-3-size);
  color: var(--color-white1);
}
.education {
  top: 148px;
  left: 411px;
  height: 206px;
  font-size: var(--font-size-mid);
}
.calificacionesNuevo {
  width: 100%;
  position: relative;
  background-color: var(--color-background);
  height: 1182px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-text-regular-2-size);
  color: var(--color-text);
  font-family: var(--text-text-regular-1);
}
