.placeholder {
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.62%;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-2);
}
.admin,
.mayraZ,
.placeholder {
  position: absolute;
}
.mayraZ {
  top: 0;
  left: 0;
  font-weight: 600;
}
.admin {
  top: 54.35%;
  left: 28.13%;
  color: var(--color-gray-3);
}
.name {
  height: 76.67%;
  width: 16.41%;
  top: 11.67%;
  right: 21.54%;
  bottom: 11.67%;
  left: 62.05%;
}
.bg,
.iconKey,
.name {
  position: absolute;
}
.bg {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 20px 50px rgba(191, 21, 108, 0.05);
  border-radius: var(--br-21xl);
  background-color: var(--color-white1);
}
.iconKey {
  height: 45%;
  width: 40%;
  top: 28.33%;
  right: 30%;
  bottom: 26.67%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.contrasea {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 44.36%;
  bottom: 0;
  left: 40.26%;
}
.iconCalendarCheck {
  position: absolute;
  height: 46.83%;
  width: 36.67%;
  top: 28.33%;
  right: 31.67%;
  bottom: 24.83%;
  left: 31.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.disponibilidad,
.iconInbox {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 64.87%;
  bottom: 0;
  left: 19.74%;
}
.iconInbox {
  height: 30%;
  width: 40%;
  top: 35%;
  right: 30%;
  bottom: 35%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.inbox {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 84.62%;
  bottom: 0;
  left: 0;
}
.background,
.sideMenu {
  position: absolute;
  height: 5.08%;
  width: 21.57%;
  top: 4.91%;
  right: 0;
  bottom: 90.02%;
  left: 78.43%;
}
.background {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-purple);
}
.groupChild,
.scolarpanel {
  position: absolute;
  top: 11.76%;
  left: 29.27%;
}
.groupChild {
  height: 94.12%;
  width: 100%;
  top: 5.88%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-orange1);
}
.i,
.rectangleParent {
  position: absolute;
  top: 0;
}
.i {
  height: 86.27%;
  width: 27.08%;
  left: 37.5%;
  display: inline-block;
}
.rectangleParent {
  height: 100%;
  width: 19.51%;
  right: 80.49%;
  bottom: 0;
  left: 0;
  font-size: var(--heading-heading-1-size);
}
.footer {
  position: absolute;
  height: 4.31%;
  width: 68.33%;
  top: 91.79%;
  right: 15%;
  bottom: 3.89%;
  left: 16.67%;
}
.homeIcon {
  width: 30px;
  position: relative;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard {
  width: 299px;
  filter: var(--shadow);
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.email {
  position: relative;
  font-weight: 500;
}
.students {
  width: 299px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.iconPdfFile {
  width: 21px;
  position: relative;
  height: 28px;
}
.food,
.list {
  display: flex;
  justify-content: flex-start;
}
.food {
  width: 316px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  background-color: var(--color-background);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  color: var(--color-purple);
}
.list {
  position: absolute;
  height: 76.31%;
  width: 87.78%;
  top: 10.07%;
  right: 0;
  bottom: 13.62%;
  left: 12.22%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--text-text-regular-1-size);
  color: var(--color-gray-2);
}
.e,
.escuelaBenitoJuarez {
  position: absolute;
  height: 64.71%;
  width: 78.01%;
  top: 25.49%;
  left: 21.99%;
  display: inline-block;
}
.e {
  height: 86.27%;
  width: 41.67%;
  top: 0;
  left: 29.17%;
}
.logo,
.rectangleGroup {
  position: absolute;
  height: 100%;
  width: 16.49%;
  top: 0;
  right: 83.51%;
  bottom: 0;
  left: 0;
  font-size: var(--heading-heading-1-size);
}
.logo {
  height: 4.31%;
  width: 80.83%;
  top: 3.98%;
  right: 10.83%;
  bottom: 91.71%;
  left: 8.33%;
  font-size: var(--font-size-xl);
}
.component1,
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
}
.sidebar {
  height: 100%;
  width: 19.91%;
  right: 80.09%;
  bottom: 0;
  font-size: var(--font-size-9xl);
  color: var(--color-white1);
}
.component1 {
  width: 1808px;
  height: 1182px;
  font-size: var(--text-text-regular-2-size);
}
.b,
.div {
  position: absolute;
  top: 17px;
  left: 17px;
}
.b {
  left: 86px;
  display: inline-block;
  width: 27px;
}
.bMat1,
.mat1,
.matemticas {
  position: absolute;
  top: 17px;
  left: 215px;
}
.bMat1,
.matemticas {
  left: 412px;
}
.matemticas {
  left: 675px;
}
.placeholder1 {
  position: absolute;
  top: 0;
  left: calc(50% - 20px);
  border-radius: var(--br-xl);
  background-color: var(--color-purple);
  width: 40px;
  height: 40px;
  opacity: 0.1;
}
.vectorIcon {
  position: absolute;
  height: 45%;
  width: 44.25%;
  top: 27.5%;
  right: 28.25%;
  bottom: 27.5%;
  left: 27.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nuevo {
  position: absolute;
  top: 12px;
  left: calc(50% + 396.5px);
  width: 40px;
  height: 40px;
}
.vectorIcon1 {
  position: absolute;
  height: 50%;
  width: 42%;
  top: 25%;
  right: 28%;
  bottom: 25%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.eliminar {
  position: absolute;
  top: 12px;
  left: calc(50% + 341.5px);
  width: 40px;
  height: 40px;
}
.vectorIcon2 {
  height: 45%;
  width: 49.25%;
  top: 27.5%;
  right: 25.75%;
  bottom: 27.5%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.editar,
.parent,
.vectorIcon2 {
  position: absolute;
}
.editar {
  top: 12px;
  left: calc(50% + 286.5px);
  width: 40px;
  height: 40px;
}
.parent {
  top: 18px;
  left: 11px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1331px;
  height: 64px;
}
.div1 {
  left: 21px;
}
.alg1,
.b1,
.bAlg1,
.div1,
.lgebra {
  position: absolute;
  top: 17px;
}
.b1 {
  left: 87px;
  display: inline-block;
  width: 27px;
}
.alg1,
.bAlg1,
.lgebra {
  left: 218px;
}
.bAlg1,
.lgebra {
  left: 414px;
}
.lgebra {
  left: 678px;
}
.eliminar1,
.nuevo1 {
  top: 12px;
  width: 40px;
  height: 40px;
}
.nuevo1 {
  position: absolute;
  left: calc(50% + 397.5px);
}
.eliminar1 {
  left: calc(50% + 342.5px);
}
.editar1,
.eliminar1,
.group {
  position: absolute;
}
.editar1 {
  top: 12px;
  left: calc(50% + 287.5px);
  width: 40px;
  height: 40px;
}
.group {
  top: 82px;
  left: 11px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1331px;
  height: 64px;
}
.div2 {
  left: 24px;
}
.b2,
.div2,
.log1 {
  position: absolute;
  top: 17px;
}
.b2 {
  left: 90px;
  display: inline-block;
  width: 27px;
}
.log1 {
  left: 219px;
}
.bLog1,
.container,
.matemticas1 {
  position: absolute;
  top: 17px;
  left: 418px;
}
.container,
.matemticas1 {
  left: 676px;
}
.container {
  top: 146px;
  left: 11px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1331px;
  height: 64px;
}
.b3,
.div3 {
  position: absolute;
  top: 17px;
  left: 23px;
}
.b3 {
  left: 91px;
  display: inline-block;
  width: 27px;
}
.bProg1,
.prog1,
.vectorIcon9 {
  position: absolute;
  top: 17px;
  left: 224px;
}
.bProg1,
.vectorIcon9 {
  left: 420px;
}
.vectorIcon9 {
  height: 45%;
  width: 45%;
  top: 27.5%;
  right: 27.5%;
  bottom: 27.5%;
  left: 27.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nuevo3 {
  position: absolute;
  top: 12px;
  left: calc(50% + 389px);
  width: 40px;
  height: 40px;
}
.vectorIcon10 {
  position: absolute;
  height: 50%;
  width: 42.5%;
  top: 25%;
  right: 30%;
  bottom: 25%;
  left: 27.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.eliminar3 {
  position: absolute;
  top: 12px;
  left: calc(50% + 334px);
  width: 40px;
  height: 40px;
}
.vectorIcon11 {
  position: absolute;
  height: 45%;
  width: 50%;
  top: 27.5%;
  right: 22.5%;
  bottom: 27.5%;
  left: 27.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.editar3 {
  position: absolute;
  top: 12px;
  left: calc(50% + 279px);
  width: 40px;
  height: 40px;
}
.frameDiv {
  position: absolute;
  top: 210px;
  left: 11px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1350px;
  height: 64px;
}
.bMat11,
.mat11 {
  position: absolute;
  top: 17px;
  left: 226px;
}
.bMat11 {
  left: 422px;
}
.editar4,
.eliminar4,
.nuevo4 {
  position: absolute;
  top: 12px;
  left: calc(50% + 390px);
  width: 40px;
  height: 40px;
}
.editar4,
.eliminar4 {
  left: calc(50% + 335px);
}
.editar4 {
  left: calc(50% + 280px);
}
.parent1 {
  position: absolute;
  top: 274px;
  left: 11px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1350px;
  height: 64px;
}
.div5 {
  left: 25px;
}
.b5,
.bMat12,
.div5,
.mat12 {
  position: absolute;
  top: 17px;
}
.b5 {
  left: 93px;
  display: inline-block;
  width: 27px;
}
.bMat12,
.mat12 {
  left: 230px;
}
.bMat12 {
  left: 423px;
}
.editar5,
.eliminar5,
.nuevo5 {
  position: absolute;
  top: 12px;
  left: calc(50% + 392px);
  width: 40px;
  height: 40px;
}
.editar5,
.eliminar5 {
  left: calc(50% + 337px);
}
.editar5 {
  left: calc(50% + 282px);
}
.parent2 {
  position: absolute;
  top: 338px;
  left: 11px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1350px;
  height: 64px;
}
.div6 {
  left: 26px;
}
.b6,
.bMat13,
.div6 {
  position: absolute;
  top: 17px;
}
.b6 {
  left: 92px;
  display: inline-block;
  width: 27px;
}
.bMat13 {
  left: 424px;
}
.editar6,
.eliminar6,
.nuevo6 {
  position: absolute;
  top: 12px;
  left: calc(50% + 393px);
  width: 40px;
  height: 40px;
}
.editar6,
.eliminar6 {
  left: calc(50% + 338px);
}
.editar6 {
  left: calc(50% + 283px);
}
.parent3,
.parent4,
.parent5 {
  position: absolute;
  top: 402px;
  left: 11px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1350px;
  height: 64px;
}
.parent4,
.parent5 {
  top: 466px;
}
.parent5 {
  top: 530px;
}
.dropdownIcon {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.selectedpage {
  position: absolute;
  top: 0;
  left: calc(50% - 25px);
  box-shadow: 0 7px 16px rgba(0, 0, 0, 0.14);
  border-radius: var(--br-21xl);
  background-color: var(--color-cornflowerblue);
  width: 50px;
  height: 50px;
}
.div10 {
  position: absolute;
  top: 11px;
  left: calc(50% - 3px);
  display: inline-block;
  width: 6.9px;
}
.div9 {
  width: 50px;
  position: relative;
  height: 50px;
  color: var(--color-white1);
}
.background1 {
  position: absolute;
  top: 0;
  left: calc(50% - 25.5px);
  border-radius: var(--br-21xl);
  border: 2px solid var(--color-cornflowerblue);
  box-sizing: border-box;
  width: 51px;
  height: 51px;
}
.div12 {
  position: absolute;
  top: 12px;
  left: calc(50% - 5.5px);
  display: inline-block;
  width: 10.9px;
}
.div11 {
  width: 51px;
  position: relative;
  height: 51px;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frameParent,
.pagination {
  position: absolute;
  top: 629px;
  left: 1062px;
  width: 280px;
  height: 51px;
}
.frameParent {
  top: 34px;
  left: -30px;
  width: 1342px;
  height: 699px;
  overflow-y: auto;
}
.menuTableChild {
  position: absolute;
  top: -2px;
  left: -37px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1330px;
  height: 54px;
}
.idMateria {
  position: absolute;
  top: 14px;
  left: 171px;
  font-weight: 300;
}
.acciones,
.idCurso,
.idGrupo,
.materia {
  position: absolute;
  top: 13px;
  left: 39px;
  font-weight: 300;
}
.acciones,
.idCurso,
.materia {
  top: 14px;
  left: 378px;
}
.acciones,
.materia {
  top: 12px;
  left: 636px;
}
.acciones {
  left: 916px;
}
.menuTable {
  position: absolute;
  top: 0;
  left: 19px;
  width: 1342px;
  height: 24px;
  font-size: var(--font-size-mini);
}
.table {
  position: absolute;
  top: 402px;
  left: 429px;
  width: 1361px;
  height: 739px;
  color: var(--color-gray-300);
}
.bg3,
.bg4 {
  top: 0;
  left: 0;
}
.bg4 {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white1);
}
.bg3 {
  width: 1373px;
  height: 206px;
}
.agregar1,
.bg3,
.icon {
  position: absolute;
}
.icon {
  top: 5px;
  left: 0;
  width: 16.2px;
  height: 16.2px;
}
.agregar1 {
  top: 0;
  left: 32.2px;
}
.content {
  width: 106.2px;
  position: relative;
  height: 27px;
}
.agregar {
  position: absolute;
  top: 109px;
  left: 1138px;
  box-shadow: 0 20px 50px rgba(191, 21, 108, 0.05);
  border-radius: var(--br-11xl);
  background-color: var(--color-cornflowerblue);
  width: 180px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-24xl);
  box-sizing: border-box;
}
.clonarDesde1,
.vectorIcon27 {
  position: absolute;
  top: 0;
  left: 22.1px;
}
.vectorIcon27 {
  top: 4.5px;
  left: 0;
  width: 18.1px;
  height: 18.1px;
  object-fit: contain;
}
.content1 {
  width: 144.1px;
  position: relative;
  height: 27px;
}
.clonarDesde {
  position: absolute;
  top: 109px;
  left: 911px;
  box-shadow: 0 20px 50px rgba(191, 21, 108, 0.05);
  border-radius: var(--br-21xl);
  background-color: var(--color-cornflowerblue);
  width: 180px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-24xl);
  box-sizing: border-box;
}
.clonarHacia1,
.vectorIcon28 {
  position: absolute;
  top: 0;
  left: 23.6px;
}
.vectorIcon28 {
  top: 4.5px;
  left: 0;
  width: 18px;
  height: 18px;
  object-fit: contain;
}
.content2 {
  width: 140.6px;
  position: relative;
  height: 27px;
}
.clonarHacia {
  position: absolute;
  top: 109px;
  left: 684px;
  box-shadow: 0 20px 50px rgba(191, 21, 108, 0.05);
  border-radius: var(--br-21xl);
  background-color: #f5aa1a;
  width: 180px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-24xl);
  box-sizing: border-box;
}
.searchIcon {
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.buscar,
.searchIcon {
  position: relative;
}
.searchParent {
  width: 225px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-2);
  box-sizing: border-box;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 17px var(--padding-xl);
  gap: 13px;
}
.dateChild,
.searchBar {
  position: absolute;
  box-sizing: border-box;
}
.searchBar {
  top: 124px;
  left: calc(50% - 458.5px);
  border-radius: var(--br-21xl);
  background-color: var(--color-white1);
  width: 224px;
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-13xl) var(--padding-11xs) 0;
  color: var(--color-gray-3);
}
.dateChild {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-2);
  width: 136.5px;
  height: 50px;
}
.div15 {
  position: absolute;
  top: 12px;
  left: 18px;
}
.materialSymbolskeyboardArroIcon {
  position: absolute;
  height: 64%;
  width: 23.44%;
  top: 22%;
  right: 12.82%;
  bottom: 14%;
  left: 63.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.date {
  position: absolute;
  top: 107px;
  left: 57px;
  width: 136.5px;
  height: 50px;
  font-size: var(--font-size-xl);
  color: var(--color-text);
}
.titleChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-cornflowerblue);
  width: 1373px;
  height: 60px;
}
.cursos1b1 {
  position: absolute;
  top: 13px;
  left: 57px;
  display: inline-block;
  width: 697px;
}
.education,
.title {
  position: absolute;
  width: 1373px;
}
.title {
  top: 3px;
  left: 0;
  height: 60px;
  font-size: var(--font-size-6xl);
}
.education {
  top: 148px;
  left: 411px;
  height: 206px;
  color: var(--color-white1);
}
.cursos1b {
  width: 100%;
  position: relative;
  background-color: var(--color-background);
  height: 1182px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-text-regular-1-size);
  color: var(--color-text);
  font-family: var(--text-text-regular-1);
}
