.especialidadesTallerChild,
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white1);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 587px;
  height: 705px;
}
.groupChild {
  width: 542px;
  height: 55px;
}
.div {
  position: absolute;
  top: 16px;
  left: 16px;
}
.btbusi,
.tallerBusinessMath {
  position: absolute;
  top: 16px;
  left: 80px;
}
.tallerBusinessMath {
  left: 201px;
}
.calificar,
.vectorIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.vectorIcon {
  height: 70.59%;
  width: 21.76%;
  top: 23.53%;
  right: 0;
  bottom: 5.88%;
  left: 78.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.calificarParent {
  position: absolute;
  height: 54.84%;
  width: 56.41%;
  top: 22.58%;
  right: 43.59%;
  bottom: 22.58%;
  left: 0;
}
.viewSalaryDetails {
  position: absolute;
  top: 12px;
  left: 411px;
  width: 145px;
  height: 31px;
  font-size: var(--text-text-regular-2-size);
  color: var(--color-dodgerblue);
  font-family: var(--font-inter);
}
.rectangleGroup,
.rectangleParent {
  position: absolute;
  top: 505px;
  left: 11px;
  width: 556px;
  height: 55px;
}
.rectangleGroup {
  top: 434px;
}
.groupDiv,
.rectangleContainer,
.rectangleParent1,
.rectangleParent2 {
  position: absolute;
  top: 363px;
  left: 11px;
  width: 556px;
  height: 55px;
}
.groupDiv,
.rectangleParent1,
.rectangleParent2 {
  top: 292px;
}
.rectangleParent1,
.rectangleParent2 {
  top: 221px;
}
.rectangleParent2 {
  top: 150px;
}
.groupParent,
.rectangleParent3,
.rectangleParent4,
.rectangleParent5 {
  position: absolute;
  top: 79px;
  left: 11px;
  width: 556px;
  height: 55px;
}
.groupParent,
.rectangleParent4,
.rectangleParent5 {
  top: 8px;
}
.groupParent,
.rectangleParent5 {
  top: 571px;
}
.groupParent {
  top: 21px;
  left: 0;
  height: 582.8px;
  overflow-y: auto;
  font-size: var(--font-size-mini);
  color: var(--color-gray-200);
  font-family: var(--text-text-regular-1);
}
.ciclo,
.descripcin,
.especialidad {
  position: absolute;
  top: 0;
  left: 25px;
  display: inline-block;
  width: 38px;
  height: 19px;
}
.descripcin,
.especialidad {
  left: 91px;
  width: 96px;
}
.descripcin {
  left: 213px;
  width: 90px;
}
.frameData {
  position: absolute;
  top: 78.1px;
  left: 9px;
  width: 556px;
  height: 603.9px;
}
.especialidadesTaller1 {
  position: absolute;
  top: 19px;
  left: 25px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  font-family: var(--text-text-regular-1);
  color: var(--color-text);
  display: inline-block;
  width: 287px;
  height: 38.1px;
}
.especialidadesTaller {
  width: 100%;
  position: relative;
  height: 705px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
