.placeholder {
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.62%;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-2);
}
.admin,
.mayraZ,
.placeholder {
  position: absolute;
}
.mayraZ {
  top: 0;
  left: 0;
  font-weight: 600;
}
.admin {
  top: 54.35%;
  left: 28.13%;
  color: var(--color-gray-3);
}
.name {
  height: 76.67%;
  width: 16.41%;
  top: 11.67%;
  right: 21.54%;
  bottom: 11.67%;
  left: 62.05%;
}
.bg,
.iconKey,
.name {
  position: absolute;
}
.bg {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 20px 50px rgba(191, 21, 108, 0.05);
  border-radius: var(--br-21xl);
  background-color: var(--color-white1);
}
.iconKey {
  height: 45%;
  width: 40%;
  top: 28.33%;
  right: 30%;
  bottom: 26.67%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.contrasea {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 44.36%;
  bottom: 0;
  left: 40.26%;
}
.iconCalendarCheck {
  position: absolute;
  height: 46.83%;
  width: 36.67%;
  top: 28.33%;
  right: 31.67%;
  bottom: 24.83%;
  left: 31.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.disponibilidad,
.iconInbox {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 64.87%;
  bottom: 0;
  left: 19.74%;
}
.iconInbox {
  height: 30%;
  width: 40%;
  top: 35%;
  right: 30%;
  bottom: 35%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.inbox {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 84.62%;
  bottom: 0;
  left: 0;
}
.background,
.sideMenu {
  position: absolute;
  height: 5.08%;
  width: 21.57%;
  top: 4.91%;
  right: 0;
  bottom: 90.02%;
  left: 78.43%;
}
.background {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-purple);
}
.groupChild,
.scolarpanel {
  position: absolute;
  top: 11.76%;
  left: 29.27%;
}
.groupChild {
  height: 94.12%;
  width: 100%;
  top: 5.88%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-orange1);
}
.i,
.rectangleParent {
  position: absolute;
  top: 0;
}
.i {
  height: 86.27%;
  width: 27.08%;
  left: 37.5%;
  display: inline-block;
}
.rectangleParent {
  height: 100%;
  width: 19.51%;
  right: 80.49%;
  bottom: 0;
  left: 0;
  font-size: var(--heading-heading-1-size);
}
.footer {
  position: absolute;
  height: 4.31%;
  width: 68.33%;
  top: 91.79%;
  right: 15%;
  bottom: 3.89%;
  left: 16.67%;
}
.homeIcon {
  width: 30px;
  position: relative;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard {
  width: 299px;
  filter: var(--shadow);
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.email {
  position: relative;
  font-weight: 500;
}
.students {
  width: 299px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.iconPdfFile {
  width: 21px;
  position: relative;
  height: 28px;
}
.food,
.list {
  display: flex;
  justify-content: flex-start;
}
.food {
  width: 316px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  background-color: var(--color-background);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  color: var(--color-purple);
}
.list {
  position: absolute;
  height: 76.31%;
  width: 87.78%;
  top: 10.07%;
  right: 0;
  bottom: 13.62%;
  left: 12.22%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--text-text-regular-1-size);
  color: var(--color-gray-2);
}
.e,
.escuelaBenitoJuarez {
  position: absolute;
  height: 64.71%;
  width: 78.01%;
  top: 25.49%;
  left: 21.99%;
  display: inline-block;
}
.e {
  height: 86.27%;
  width: 41.67%;
  top: 0;
  left: 29.17%;
}
.logo,
.rectangleGroup {
  position: absolute;
  height: 100%;
  width: 16.49%;
  top: 0;
  right: 83.51%;
  bottom: 0;
  left: 0;
  font-size: var(--heading-heading-1-size);
}
.logo {
  height: 4.31%;
  width: 80.83%;
  top: 3.98%;
  right: 10.83%;
  bottom: 91.71%;
  left: 8.33%;
  font-size: var(--font-size-xl);
}
.component1,
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
}
.sidebar {
  height: 100%;
  width: 19.91%;
  right: 80.09%;
  bottom: 0;
  font-size: var(--font-size-9xl);
  color: var(--color-white1);
}
.component1 {
  width: 1808px;
  height: 1182px;
  font-size: var(--text-text-regular-2-size);
}
.div {
  left: 28px;
  display: inline-block;
  width: 8px;
}
.a,
.a1,
.div,
.secundaria {
  position: absolute;
  top: 17px;
}
.a {
  left: 131px;
  display: inline-block;
  width: 27px;
}
.a1,
.secundaria {
  left: 377px;
}
.secundaria {
  left: 667px;
}
.placeholder1 {
  position: absolute;
  top: 0;
  left: calc(50% - 20px);
  border-radius: var(--br-xl);
  background-color: var(--color-purple);
  width: 40px;
  height: 40px;
  opacity: 0.1;
}
.eliminarIcon {
  position: absolute;
  height: 52.5%;
  width: 39.75%;
  top: 25%;
  right: 30.25%;
  bottom: 22.5%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.eliminar {
  position: absolute;
  top: 12px;
  left: calc(50% + 473px);
  width: 40px;
  height: 40px;
}
.vectorIcon {
  position: absolute;
  height: 45%;
  width: 42.25%;
  top: 27.5%;
  right: 27.75%;
  bottom: 27.5%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.editar {
  position: absolute;
  top: 12px;
  left: calc(50% + 408px);
  width: 40px;
  height: 40px;
}
.visualizarIcon {
  position: absolute;
  height: 40%;
  width: 54.75%;
  top: 30%;
  right: 22.75%;
  bottom: 30%;
  left: 22.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.visualizar {
  position: absolute;
  top: 12px;
  left: calc(50% + 343px);
  width: 40px;
  height: 40px;
}
.parent {
  position: absolute;
  top: 0;
  left: 6px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1342px;
  height: 64px;
}
.div1 {
  left: 26px;
  display: inline-block;
  width: 15px;
}
.a2,
.a3,
.div1,
.secundaria1 {
  position: absolute;
  top: 19px;
}
.a2 {
  left: 133px;
  display: inline-block;
  width: 27px;
}
.a3,
.secundaria1 {
  left: 378px;
}
.secundaria1 {
  left: 669px;
}
.editar1,
.eliminar1,
.visualizar1 {
  position: absolute;
  top: 12px;
  left: calc(50% + 471px);
  width: 40px;
  height: 40px;
}
.editar1,
.visualizar1 {
  left: calc(50% + 406px);
}
.visualizar1 {
  left: calc(50% + 341px);
}
.group {
  position: absolute;
  top: 64px;
  left: 6px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1342px;
  height: 64px;
}
.div2 {
  left: 26px;
  display: inline-block;
  width: 14px;
}
.a4,
.a5,
.div2 {
  position: absolute;
  top: 18px;
}
.a4 {
  left: 134px;
  display: inline-block;
  width: 27px;
}
.a5 {
  left: 381px;
}
.eliminarIcon2,
.secundaria2 {
  position: absolute;
  top: 18px;
  left: 671px;
}
.eliminarIcon2 {
  height: 52.5%;
  width: 39.75%;
  top: 22.5%;
  right: 30.25%;
  bottom: 25%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.editar2,
.eliminar2,
.visualizar2 {
  position: absolute;
  top: 12px;
  left: calc(50% + 474px);
  width: 40px;
  height: 40px;
}
.editar2,
.visualizar2 {
  left: calc(50% + 409px);
}
.visualizar2 {
  left: calc(50% + 344px);
}
.container {
  position: absolute;
  top: 128px;
  left: 6px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1342px;
  height: 64px;
}
.div3 {
  left: 26px;
  display: inline-block;
  width: 11px;
}
.a6,
.a7,
.div3 {
  position: absolute;
  top: 18px;
}
.a6 {
  left: 136px;
  display: inline-block;
  width: 27px;
}
.a7 {
  left: 380px;
}
.editar3,
.eliminar3,
.visualizar3 {
  position: absolute;
  top: 12px;
  left: calc(50% + 476px);
  width: 40px;
  height: 40px;
}
.editar3,
.visualizar3 {
  left: calc(50% + 411px);
}
.visualizar3 {
  left: calc(50% + 346px);
}
.frameDiv {
  position: absolute;
  top: 192px;
  left: 6px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1342px;
  height: 64px;
}
.a8,
.div4 {
  position: absolute;
  top: 18px;
  left: 29px;
  display: inline-block;
  width: 11px;
}
.a8 {
  left: 138px;
  width: 27px;
}
.editar4,
.eliminar4,
.visualizar4 {
  position: absolute;
  top: 12px;
  left: calc(50% + 475px);
  width: 40px;
  height: 40px;
}
.editar4,
.visualizar4 {
  left: calc(50% + 410px);
}
.visualizar4 {
  left: calc(50% + 345px);
}
.parent1 {
  position: absolute;
  top: 256px;
  left: 6px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1342px;
  height: 64px;
}
.div5 {
  left: 32px;
  display: inline-block;
  width: 13px;
}
.a10,
.a11,
.div5 {
  position: absolute;
  top: 18px;
}
.a10 {
  left: 139px;
  display: inline-block;
  width: 27px;
}
.a11 {
  left: 382px;
}
.editar5,
.eliminar5,
.visualizar5 {
  position: absolute;
  top: 18px;
  left: calc(50% + 478px);
  width: 40px;
  height: 40px;
}
.editar5,
.visualizar5 {
  left: calc(50% + 413px);
}
.visualizar5 {
  left: calc(50% + 348px);
}
.parent2 {
  position: absolute;
  top: 320px;
  left: 6px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1342px;
  height: 64px;
}
.div6 {
  left: 34px;
  display: inline-block;
  width: 11px;
}
.a12,
.a13,
.div6 {
  position: absolute;
  top: 18px;
}
.a12 {
  left: 141px;
  display: inline-block;
  width: 27px;
}
.a13 {
  left: 386px;
}
.editar6,
.eliminar6,
.visualizar6 {
  position: absolute;
  top: 12px;
  left: calc(50% + 478px);
  width: 40px;
  height: 40px;
}
.editar6,
.visualizar6 {
  left: calc(50% + 413px);
}
.visualizar6 {
  left: calc(50% + 348px);
}
.parent3,
.parent4,
.parent5 {
  position: absolute;
  top: 384px;
  left: 6px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1342px;
  height: 64px;
}
.parent4,
.parent5 {
  top: 448px;
}
.parent5 {
  top: 512px;
}
.dropdownIcon {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.selectedpage {
  position: absolute;
  top: 0;
  left: calc(50% - 25px);
  box-shadow: 0 7px 16px rgba(0, 0, 0, 0.14);
  border-radius: var(--br-21xl);
  background-color: var(--color-cornflowerblue);
  width: 50px;
  height: 50px;
}
.div10 {
  position: absolute;
  top: 11px;
  left: calc(50% - 3px);
  display: inline-block;
  width: 6.9px;
}
.div9 {
  width: 50px;
  position: relative;
  height: 50px;
  color: var(--color-white1);
}
.background1 {
  position: absolute;
  top: 0;
  left: calc(50% - 25.5px);
  border-radius: var(--br-21xl);
  border: 2px solid var(--color-cornflowerblue);
  box-sizing: border-box;
  width: 51px;
  height: 51px;
}
.div12 {
  position: absolute;
  top: 12px;
  left: calc(50% - 5.5px);
  display: inline-block;
  width: 10.9px;
}
.div11 {
  width: 51px;
  position: relative;
  height: 51px;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frameParent,
.pagination {
  position: absolute;
  top: 648px;
  left: 1059px;
  width: 280px;
  height: 51px;
}
.frameParent {
  top: 40px;
  left: 0;
  width: 1361px;
  height: 699px;
  overflow-y: auto;
}
.menuTableChild {
  position: absolute;
  top: 0;
  left: -13px;
  background-color: var(--color-white1);
  border-bottom: 1px solid var(--color-thistle-200);
  box-sizing: border-box;
  width: 1343px;
  height: 40px;
}
.acciones,
.div15,
.etiqueta,
.id,
.nivel {
  position: absolute;
  top: 7px;
  left: 13px;
  font-weight: 300;
}
.acciones,
.etiqueta,
.id,
.nivel {
  left: 118px;
}
.acciones,
.etiqueta,
.nivel {
  left: 357px;
}
.acciones,
.nivel {
  left: 671px;
}
.acciones {
  left: 1049px;
}
.menuTable {
  position: absolute;
  top: 0;
  left: 19px;
  width: 1342px;
  height: 37px;
  font-size: var(--font-size-mini);
  color: var(--color-text);
}
.table {
  position: absolute;
  top: 402px;
  left: 429px;
  width: 1361px;
  height: 739px;
  color: var(--color-gray-300);
}
.bg3 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white1);
  width: 1373px;
  height: 206px;
}
.agregar,
.bg3,
.icon {
  position: absolute;
}
.icon {
  top: 5px;
  left: 0;
  width: 16.2px;
  height: 16.2px;
}
.agregar {
  top: 0;
  left: 32.2px;
}
.content {
  width: 106.2px;
  position: relative;
  height: 27px;
}
.newStudentButton {
  position: absolute;
  top: 110px;
  left: 1060px;
  box-shadow: 0 20px 50px rgba(191, 21, 108, 0.05);
  border-radius: var(--br-21xl);
  background-color: var(--color-orange-100);
  width: 207px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-24xl);
  box-sizing: border-box;
}
.searchIcon {
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.buscar,
.searchIcon {
  position: relative;
}
.searchParent {
  width: 252px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-2);
  box-sizing: border-box;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 23px var(--padding-13xl);
  gap: var(--gap-base);
}
.searchBar,
.titleChild {
  position: absolute;
  height: 60px;
}
.searchBar {
  top: 103px;
  left: calc(50% - 629.5px);
  border-radius: var(--br-21xl);
  background-color: var(--color-white1);
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-13xl) var(--padding-11xs) 0;
  box-sizing: border-box;
  color: var(--color-gray-3);
}
.titleChild {
  top: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-cornflowerblue);
  width: 1373px;
}
.grupos1 {
  position: absolute;
  top: 13px;
  left: 57px;
  display: inline-block;
  width: 697px;
}
.education,
.title {
  position: absolute;
  width: 1373px;
}
.title {
  top: 3px;
  left: 0;
  height: 60px;
  font-size: var(--font-size-6xl);
}
.education {
  top: 148px;
  left: 411px;
  height: 206px;
  color: var(--color-white1);
}
.grupos {
  width: 100%;
  position: relative;
  background-color: var(--color-background);
  height: 1182px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-text-regular-1-size);
  color: var(--color-text);
  font-family: var(--text-text-regular-1);
}
