.dashboardChild,
.panelDeInicio {
  position: absolute;
  top: 58px;
  left: 419px;
}
.dashboardChild {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white1);
  width: 1259px;
  height: 206px;
}
.b,
.nuevasAltas {
  position: absolute;
  top: 11px;
  left: 125px;
  display: inline-block;
  width: 118px;
  height: 28px;
}
.b {
  top: 43px;
  font-size: var(--font-size-11xl);
  width: 64px;
  height: 39px;
}
.nuevosAltas,
.nuevosAltasChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
}
.nuevosAltas {
  top: 50px;
  left: 949px;
  width: 243px;
}
.dashboard,
.escuelas,
.estudiantes,
.maestros {
  position: absolute;
  top: 54px;
  left: 655px;
  width: 243px;
  height: 90px;
}
.dashboard,
.estudiantes,
.maestros {
  top: 52px;
  left: 361px;
}
.dashboard,
.estudiantes {
  top: 58px;
  left: 67px;
}
.dashboard {
  top: 174px;
  left: 419px;
  width: 1259px;
  height: 206px;
  font-size: var(--text-text-regular-1-size);
  color: var(--color-black);
}
.placeholder {
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.62%;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-2);
}
.admin,
.mayraZ,
.placeholder {
  position: absolute;
}
.mayraZ {
  top: 0;
  left: 0;
  font-weight: 600;
}
.admin {
  top: 54.35%;
  left: 28.13%;
  color: var(--color-gray-3);
}
.name {
  height: 76.67%;
  width: 16.41%;
  top: 11.67%;
  right: 21.54%;
  bottom: 11.67%;
  left: 62.05%;
}
.bg,
.iconKey,
.name {
  position: absolute;
}
.bg {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 20px 50px rgba(191, 21, 108, 0.05);
  border-radius: var(--br-21xl);
  background-color: var(--color-white1);
}
.iconKey {
  height: 45%;
  width: 40%;
  top: 28.33%;
  right: 30%;
  bottom: 26.67%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.contrasea {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 44.36%;
  bottom: 0;
  left: 40.26%;
}
.iconCalendarCheck {
  position: absolute;
  height: 46.83%;
  width: 36.67%;
  top: 28.33%;
  right: 31.67%;
  bottom: 24.83%;
  left: 31.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.disponibilidad,
.iconInbox {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 64.87%;
  bottom: 0;
  left: 19.74%;
}
.iconInbox {
  height: 30%;
  width: 40%;
  top: 35%;
  right: 30%;
  bottom: 35%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.inbox {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 84.62%;
  bottom: 0;
  left: 0;
}
.background,
.sideMenu {
  position: absolute;
  height: 5.08%;
  width: 21.57%;
  top: 4.91%;
  right: 0;
  bottom: 90.02%;
  left: 78.43%;
}
.background {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-purple);
}
.groupChild,
.scolarpanel {
  position: absolute;
  top: 11.76%;
  left: 29.27%;
}
.groupChild {
  height: 94.12%;
  width: 100%;
  top: 5.88%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-orange1);
}
.i,
.rectangleParent {
  position: absolute;
  top: 0;
}
.i {
  height: 86.27%;
  width: 27.08%;
  left: 37.5%;
  display: inline-block;
}
.rectangleParent {
  height: 100%;
  width: 19.51%;
  right: 80.49%;
  bottom: 0;
  left: 0;
  font-size: var(--heading-heading-1-size);
}
.footer {
  position: absolute;
  height: 4.31%;
  width: 68.33%;
  top: 91.79%;
  right: 15%;
  bottom: 3.89%;
  left: 16.67%;
}
.homeIcon {
  width: 30px;
  position: relative;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard1 {
  width: 299px;
  filter: var(--shadow);
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.email {
  position: relative;
  font-weight: 500;
}
.students {
  width: 299px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.iconPdfFile {
  width: 21px;
  position: relative;
  height: 28px;
}
.food,
.list {
  display: flex;
  justify-content: flex-start;
}
.food {
  width: 316px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  background-color: var(--color-background);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  color: var(--color-purple);
}
.list {
  position: absolute;
  height: 76.31%;
  width: 87.78%;
  top: 10.07%;
  right: 0;
  bottom: 13.62%;
  left: 12.22%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--text-text-regular-1-size);
  color: var(--color-gray-2);
}
.e,
.escuelaBenitoJuarez {
  position: absolute;
  height: 64.71%;
  width: 78.01%;
  top: 25.49%;
  left: 21.99%;
  display: inline-block;
}
.e {
  height: 86.27%;
  width: 41.67%;
  top: 0;
  left: 29.17%;
}
.logo,
.rectangleGroup {
  position: absolute;
  height: 100%;
  width: 16.49%;
  top: 0;
  right: 83.51%;
  bottom: 0;
  left: 0;
  font-size: var(--heading-heading-1-size);
}
.logo {
  height: 4.31%;
  width: 80.83%;
  top: 3.98%;
  right: 10.83%;
  bottom: 91.71%;
  left: 8.33%;
  font-size: var(--font-size-xl);
}
.component1,
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
}
.sidebar {
  height: 100%;
  width: 19.91%;
  right: 80.09%;
  bottom: 0;
  font-size: var(--font-size-9xl);
  color: var(--color-white1);
}
.component1 {
  width: 1808px;
  height: 1182px;
  font-size: var(--text-text-regular-2-size);
}
.inicioV2 {
  width: 100%;
  position: relative;
  background-color: var(--color-background);
  height: 1182px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-heading-1-size);
  color: var(--color-text);
  font-family: var(--text-text-regular-1);
}
