@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --text-text-regular-1: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-mid: 17px;
  --font-size-mini: 15px;
  --font-size-6xl: 25px;
  --text-text-regular-1-size: 18px;
  --heading-heading-1-size: 36px;
  --font-size-xl: 20px;
  --font-size-9xl: 28px;
  --text-text-regular-2-size: 14px;
  --heading-heading-3-size: 24px;
  --font-size-smi: 13px;
  --font-size-2xs: 11px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-background: #f3f4ff;
  --color-text: #303972;
  --color-gray-2: #c1bbeb;
  --color-thistle-100: rgba(193, 187, 235, 0.1);
  --color-thistle-200: rgba(193, 187, 235, 0.6);
  --color-gray-100: #878787;
  --color-gray-200: #222;
  --color-gray-300: #212121;
  --color-white1: #fff;
  --color-cornflowerblue: #0161af;
  --color-orange-100: #f5a918;
  --color-purple: #4d44b5;
  --color-orange1: #fb7d5b;
  --color-gray-3: #a098ae;
  --color-darkslategray-100: #434343;
  --color-darkslategray-200: #3c3c3c;
  --color-dodgerblue: #2188e7;
  --color-gainsboro: #e1e1e1;
  --color-silver-100: #bdbdbd;
  --color-black: #000;

  /* Gaps */
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-5xl: 24px;
  --gap-51xl: 70px;
  --gap-6xl: 25px;
  --gap-mini: 15px;
  --gap-38xl: 57px;

  /* Paddings */
  --padding-base: 16px;
  --padding-24xl: 43px;
  --padding-5xl: 24px;
  --padding-11xs: 2px;
  --padding-13xl: 32px;
  --padding-xl: 20px;
  --padding-4xs: 9px;
  --padding-6xs: 7px;
  --padding-smi: 13px;
  --padding-mini: 15px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-xl: 20px;
  --br-11xl: 30px;
  --br-21xl: 40px;
  --br-base: 16px;
  --br-3xs: 10px;
  --br-6xl: 25px;

  /* Effects */
  --shadow: drop-shadow(0px 20px 50px rgba(191, 21, 108, 0.05));
}
